
@import "compass/css3";
@import "styles";
@import "prettify";

$base: #666;
$headings: #333;
$links: #000;

$gr: 1.618;
$gr1: $gr * 1em;
$gr2: $gr * $gr1;
$gr3: $gr * $gr2;
$gs1: 1em / $gr;

$basefont: 'Ubuntu', sans-serif;
$condensed: 'Ubuntu Condensed', sans-serif;
$monofont: 'Ubuntu Mono', monospace;
$headfont: 'Play';

body {
  font-size: 16px;
  font-family: $basefont;
  line-height: 1.618;
  background: url(/stylesheets/images/concrete_wall_3.png) fixed;
  color: $base;
}

h1, h2, h3, h4, h5, h6 {
  color: $headings;
  text-transform: uppercase;
  font-family: $headfont;
}


.tagline {   
    font-family: $condensed;
    font-weight: 400;
    text-transform: uppercase;
  }

header {
  // text-align: center;
  .tagline {
    font-size: 1.618rem;    
  }
  border-bottom: thin solid #ccc;
  padding: 1.618rem;
  padding-bottom: 2.381rem;
  margin-bottom: 1.618rem;
  background: rgba(0,0,0,0.05);
}

a {  
  color: $links;
  &:visited, &:active{
    color: $links;
  }
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.app {
  display: block;
  &:hover{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  .heading{
    // text-align: center;
    margin-bottom: 0;
    color: $headings;
  }
  .tagline {
    // text-align: center;
    font-size: 1.381rem;    
    color: $base;
  }
  .info {
    height: 0;
    overflow: hidden;
  }
  &:hover {
    .info {
      

    }
  }
  margin-bottom: 1.618rem;
  padding-bottom: 1.618rem;
  border-bottom: thin solid #ccc;
}

code {
  font-family: $monofont;
}

footer {
  
}

.details {
  strong {
    font-weight: 500;
  }
  ul li {
    line-height: 1.618;
  }
  a {
    border-bottom: thin dotted #333;
    color: inherit;
    &:hover{
      color: $links;
      text-decoration: none;
      border-bottom: thin solid #333;
    }
  }
  .column {
    .piece {
      margin-bottom: 2.618rem;
      h4 {
        margin-bottom: 1.168rem;
      }
    }
  }
}

.code {
  overflow-x :auto;
  margin: 1.618rem 0;
  pre.prettyprint {
    overflow-x: auto;
    white-space: pre;
    word-wrap: normal;
    border: none;
    padding: 0.618rem;
    margin: 0;
  }
}

code {
  font-size: 1em;
}