
@import "normalize";
@import "compass/css3";

$base: #666;
$headings: #333;
$links: #000;

$gr: 1.618;
$gr1: $gr * 1em;
$gr2: $gr * $gr1;
$gr3: $gr * $gr2;
$gs1: 1em / $gr;

$basefont: 'Droid Sans', sans-serif;
$monofont: 'Droid Sans Mono', monospace;

body {
  font-size: 16px;
  font-family: $basefont;
  line-height: 1.618em;
  background: url(/stylesheets/images/concrete_wall_3.png) fixed;
  color: $base;
}

h1, h2, h3, h4, h5, h6 {
  color: $headings;
  text-transform: uppercase;
}

a {  
  color: $links;
  &:visited, &:active{
    color: $links;
  }
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

code {
  font-family: $monofont;
}

#container {
  width: 40em;
  margin: $gr2 auto;
}

header {
  a {
    &:hover{
      text-decoration: none;
    }
  }
  h1 {
    text-transform: uppercase;
    font-family: 'Play', sans-serif;  
    text-align: right;    
  }
  margin-bottom: $gr2;
  .tagline {
    font-size: $gr1;
    color: $links;
    margin: $gr1 0;
    text-align: center;
  }
}

#main {
  border: thin solid rgba(200,200,200,0.6);
  background: rgba(200,200,200,0.2);
  @include border-radius(0.6em);
  padding: 0 $gr2;
  @include single-box-shadow(rgba(0,0,0,0.2), -1px, 1px, 5px, 0px, inset);
}

section.app {
  padding: $gr1;
  @include border-radius(0.5em);
  text-align: center;
  border-bottom: thin solid rgba(200,200,200,0.9);
  overflow: hidden;
  height: 3.618em;
  @include transition-property(all);
  @include transition-duration(0.3s);
  
  &:last-child{
    border-bottom: none;
  }
  .heading {
    font-family: 'Play';
    margin: 0;
    margin-bottom: 0.381em;    
  }
  .tagline {
    @include transition-property(all);
    @include transition-duration(0.3s);    
    margin:0;
  }
  .info {
    @include transition-property(all);
    @include transition-duration(0.3s);
    @include box-sizing(border-box);
    margin: $gs1 0;
    @include translateX(-5em);
    @include opacity(0);
  }
  &:hover, &:active {
    height: 8.618em;
    .tagline{
      color: $headings;
    }
    .info {    
      @include translateX(0);
      @include opacity(1);
    }
  }
}

footer {
  text-align: center;
  margin: $gr1 0;
}

.documentation {
  margin: $gr2 0;
  p {
    margin: $gr1 0;
  }
  h4 {
    margin: $gr2 0 $gr1;
  }  
  .example {
    font-size: 0.8em;
    border: thin solid rgba(100,100,100,0.3);    
    @include border-radius(0.618em);
    background: rgba(245,245,245,0.381);
    .info {      
      position: absolute;
      right: $gs1;
      top: 0;
      font-size: 0.7rem;
      text-transform: uppercase;
      font-family: $basefont;      
    }
    & > section{
      ul {        
        list-style: none;                
        padding: 0;
        margin: 0;
      }
      position: relative;
      padding: 1em;      
      border-bottom: thin solid rgba(100,100,100,0.3);
      &:last-child{
        border-bottom: none;
      }
    }    
    
    code {             
      pre {         
        margin: 0;
      }
    }
    
  }
}
