{% extends "base.html" %}
{% block title %}Runway 7{% endblock %}
{% block header %}
<div class="tagline">Collaboration &amp; Development Apps for Hackers</div>  
{% endblock %}
{% block content %}
<section>
  <section class="app">
    <h2>Airport</h2>
    <p>Project Managament &amp; Collaboration</p>
    <section class="info">
      <strong>Coming Soon</strong>. Airport is a suite of apps that let you manage and collaborate on software projects effectively. Think <a href="http://http://campfirenow.com/">Campfire</a> + <a href="http://www.pivotaltracker.com/">Pivotal Tracker</a> + <a href="http://letscrate.com/">Crate</a> with deep <a href="https://github.com/">GitHub</a> integration. 
    </section>
  </section>  
  <section class="app">
    <h2>Signs</h2>
    <p>Image Management API</p>
    <section class="info">
      <strong>Coming Soon</strong>. Signs is a JSON API that lets you painlessly manage your images. It takes care of hosting, resizing and optimizing them for you, and serves them off <a href="http://code.google.com/appengine/">Google's superfast servers</a>.
    </section>    
  </section>
  <section class="app">
    <h2>Forklift</h2>
    <p>Development Assistant</p>
  </section>
  <section class="app">
    <h2>Beacon</h2>
    <p>A Hackers' Blogging Engine</p>
  </section>  
</section>
{% endblock %}
{% block footer %}
<p>To see how the apps are built, take a look at <a href="http://hangar.runway7.net">Hangar, the Runway 7 technical blog</a>.</p>
<p>Runway 7 is <a href="http://www.sudhirjonathan.com">Sudhir Jonathan</a>'s coding and design laboratory.</p>  
<p>&copy; <a href="http://www.sudhirjonathan.com">Sudhir Jonathan</a></p>
{% endblock %}