{% extends "base.html" %}
{% block title %}Runway 7{% endblock %}
{% block header %}
<div class="tagline">Collaboration &amp; Development Apps for Hackers</div>  
{% endblock %}
{% block content %}
<section>
  <section class="app">
    <h2 class="heading">Airport</h2>
    <p class="tagline">Project Managament &amp; Collaboration</p>
    <section class="info">
      <strong>Coming Soon</strong>. Airport is a suite of apps that let you manage and collaborate on software projects effectively. Think <a href="http://http://campfirenow.com/">Campfire</a> + <a href="http://www.pivotaltracker.com/">Pivotal Tracker</a> + <a href="http://letscrate.com/">Crate</a> with deep <a href="https://github.com/">GitHub</a> integration. 
    </section>
  </section>  
  <section class="app">
    <h2 class="heading">Signs</h2>
    <p class="tagline">Image Management API</p>
    <section class="info">
      <strong>Coming Soon</strong>. Signs is a JSON API that lets you painlessly manage your images. It takes care of hosting, resizing and optimizing them for you and serves them off <a href="http://code.google.com/appengine/">Google's superfast servers</a>.
    </section>    
  </section>
  <section class="app">
    <h2 class="heading">Forklift</h2>
    <p class="tagline">Development Assistant</p>
    <section class="info">
      Forklift is an assistant that bootstraps your projects, runs your tests while you code, compiles your Javascript and does the things that you can't be bothered with. Open sourced on <a href="https://github.com/runway7/forklift">github.com/runway7/forklift</a>.
    </section>
  </section>
  <section class="app">
    <h2 class="heading">Beacon</h2>
    <p class="tagline">A Hackers' Blogging Engine</p>
    <section class="info">
      Write your posts in <a href="http://daringfireball.net/projects/markdown/">Markdown</a> and push them to <a href="https://github.com/">GitHub</a>. Beacon will automatically pull, parse, cache and serve them off <a href="http://code.google.com/appengine/">GAE</a> with the templates that you define. Fork Beacon at <a href="https://github.com/runway7/beacon">github.com/runway7/beacon</a>.
    </section>
  </section>  
  <section class="app">
    <h2 class="heading">Hangar</h2>
    <p class="tagline">The Runway 7 Technical Blog</p>
    <section class="info">
      Learn about the way that the R7 products are built and see how they work. There's also programming guides and how-to's for the technology stacks and languages that R7 uses. <a href="http://hangar.runway7.net">Visit the Hangar</a>.
    </section>
  </section>  
  
</section>
{% endblock %}
{% block footer %}
<p><a href="https://twitter.com/#!/runway_7">Follow @runway_7</a>, or subscribe to the newsletter for news and updates.</p>
<p>Runway 7 is <a href="http://www.sudhirjonathan.com">Sudhir Jonathan</a>'s code and design laboratory.</p>  
<p>&copy; <a href="http://www.sudhirjonathan.com">Sudhir Jonathan</a></p>

{% endblock %}