{% extends "base.html" %}
{% block title %}Runway 7{% endblock %}
{% block header %}
<div class="tagline">Services and Tools for Programmers</div>
{% endblock %}
{% block content %}
<section class="row">
  <div class="span4">
    <a class="app" href="/radar">
      <h3 class="heading">Radar</h3>
      <p class="tagline">Webpage Metadata API</p>
      <section class="info">
        Fetch meta and social information about any webpage via a JSON API. Perfect for showing link information and thumbnails, or for testing shareability.
      </section>
    </a>
    <a href="/blip" class="app">
      <h3 class="heading">Blip</h3>
      <p class="tagline">User metadata API</p>
      <section class="info">
        Instantly get information about a user's location, device, capabilities and other info via a simple JSON API.
      </section>
    </a>
  </div>
  <div class="span4">
    <a class="app" href="http://hangar.runway7.net">
      <h3 class="heading">Hangar</h3>
      <p class="tagline">The Technical Blog</p>
      <section class="info">
        Learn about the way that the R7 products are built and see how they work. There's also programming guides and how-to's for a variety of stacks and languages.
      </section>
    </a>    
    <a class="app" href="/switchboard">
      <h3 class="heading">Switchboard</h3>
      <p class="tagline">Recommendations API</p>
      <section class="info">
        Give your users instant recommendations using this fast JSON API. Simply send in your existing user-thing relationships as they happen, and Switchboard will provide personalized recommendations, suggest friends and group similar things.
      </section>
    </a>
  </div>
  <div class="span4">
    <a class="app" href="/searchlight">
      <h3 class="heading">Searchlight</h3>
      <p class="tagline">Fast search as a service</p>
      <section class="info">
        Instantly search your data using our JSON API. Upload your text or HTML documents and search them at unlimited scale.
      </section>
    </a>
    <a class="app" href="/satellite">
      <h3 class="heading">Satellite</h3>
      <p class="tagline">Scalable message broadcasting</p>
      <section class="info">
        Broadcast JSON messages to millions of web clients in near-real-time. Great for journalism, sports, media, liveblogs and any other site that sends out live information.
      </section>
    </a>
  </div>
</section>
{% endblock %}
{% block footer %}
<p>
  <a href="https://twitter.com/#!/runway_7">Follow @runway_7</a> for news and updates. Runway&nbsp;7 is <a href="http://www.sudhirjonathan.com">Sudhir Jonathan</a>'s code and design laboratory.
</p>
{% endblock %}