{% extends "base.html" %}
{% block headercrumb %}<a href="/blip">Searchlight</a>&nbsp;.&nbsp;{% endblock %}
{% block header %}
<div class="tagline">Fast Search as a Service</div>  
{% endblock %}
{% block content %}
<div class="row details">
  <div class="span8 column">
    <div class="piece">
      <h4>What is Searchlight?</h4>
      <p>Searchlight is a fast full text search service that is built on the same infrastructure as Google. You send in your documents in simple JSON, and we'll index them and have them ready for searching almost instantaneously. From then on, just send a text query and we'll give you a set of ranked search results that you can use immediately. There's no setup, no minimum fees and no maintenance. You can also udpate and delete your documents at any point in time via the same JSON API.</p>
    </div>
    <div class="piece">
      <h4>Availability</h4>            
      <p>Searchlight is currently under construction. If you'd like us to let you know when it's ready for beta testing, <a href="https://twitter.com/intent/user?screen_name=runway_7">follow @runway_7</a> or <a href="http://eepurl.com/bP1f5">join the mailing list</a>.</p>      
    </div>
  </div>
  <div class="span4 column">
    <div class="piece">
      <h4>What does it cost?</h4>
      <p>
        Searchlight is currently under construction, so we've haven't fixed on pricing yet. To help with this, please do try out the beta when it's available - the more usage data we have, the easier it becomes to determine a fair price.
      </p>
    </div>
    <div class="piece">
      <h4>What can I do with it?</h4>
      <ul>
        <li>
          Search documents
        </li>
        <li>
          Product Search
        </li>
        <li>
          Web Crawling
        </li>
        <li>
          Internal Serach Engines
        </li>        
      </ul>
    </div>
  </div>
</div>
{% endblock %}