{% extends "base.html" %}
{% block headercrumb %}<a href="/switchboard">Switchboard</a>&nbsp;.&nbsp;{% endblock %}
{% block header %}
<div class="tagline">Recommendations API</div>  
{% endblock %}
{% block content %}
<div class="row details">
  <div class="span8 column">
    <div class="piece">
      <h4>What is Switchboard?</h4>
      <p>If you'd like to provide recommendations, suggest similar users, provide listings of similar products or categorize things, then Switchboard is a fast and easy to use service that handles all the math and AI for you. Just specfiy your relationships via the JSON API and Switchboard will have different types of recommendations ready for your users. Keep sending in your ongoing relationships to continuously improve and refine your recommendations.</p>
    </div>
    <div class="piece">
      <h4>Availability</h4>                  
      <p>Switchboard is currently under construction. If you'd like us to let you know when it's ready for beta testing, <a href="https://twitter.com/intent/user?screen_name=runway_7">follow @runway_7</a> or <a href="http://eepurl.com/bP1f5">join the mailing list</a>.</p>      
    </div>
  </div>
  <div class="span4 column">
    <div class="piece">
      <h4>What does it cost?</h4>
      <p>
        Switchboard is currently under construction, so we've haven't fixed on pricing yet. To help with this, please do try out the beta when it's available - the more usage data we have, the easier it becomes to determine a fair price.
      </p>
    </div>
    <div class="piece">
      <h4>What can I do with it?</h4>
      <ul>
        <li>
          Recommend items to users
        </li>
        <li>
          Find people with similar tastes
        </li>
        <li>
          Friend suggestions
        </li>
        <li>
          Find simlar products ("people also bought")
        </li>        
      </ul>
    </div>
  </div>
</div>
{% endblock %}